<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>Quên mật khẩu</title>

    <!--        <link rel="stylesheet" th:href="@{/css/login.css}">-->
</head>
<body>
<div class="reset-password-page">


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Khởi tạo mật khẩu mới
                </span>
                </div>

                <form class="p-3" th:action="@{/reset-password}" method="post">

                    <!-- Hiển thị lỗi nếu có -->
                    <div class="">
                        <div class="alert alert-danger" th:if="${error}">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="alert alert-success" th:if="${success}">
                            <span th:text="${success}"></span>
                        </div>
                    </div>
                    <!-- Field nhập username -->
                    <div class="wrap-input100 m-b-26">
                        <label class="">Tài khoản</label>
                        <input class="input100" type="text" name="username" placeholder="user" required>
                        <span class="focus-input100"></span>
                    </div>

                    <!-- Nút đăng nhập -->
                    <div class="container-login100-form-btn">
                        <button class="btn btn-primary w-full">
                            Gửi yêu cầu
                        </button>
                    </div>
                    <div class="flex-col-c w-full mt-3">
                        <span class="text-center w-full">
                            Hoặc
                        </span>
                        <a th:href="@{/login}" class="btn btn-warning m-3 w-full"> Đăng nhập </a>

                    </div>
                    <!--                    &lt;!&ndash; Đăng nhập qua mạng xã hội &ndash;&gt;-->
                    <!--                    <div class="flex-sb-m w-full p-t-20">-->
                    <!--                        <a th:href="@{/oauth2/authorization/facebook}" class="social-login__icon fa fa-facebook"></a>-->
                    <!--                        <a th:href="@{/oauth2/authorization/github}" class="social-login__icon fa fa-github"></a>-->
                    <!--                    </div>-->
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
